<div class="container mt-2">
  <div class="card card-login mx-auto text-center card">
      <div class="card-body mx-auto">
          <span> <img src="./assets/imagenes/RPE_ Logo secundario.png" class="w-75" alt="Logo">

          </span>
      </div>
      <span class="logo_title mt-1 fontbold" style="color: #212529;"> INICIAR SESIÓN</span>
      <div class="card-body">
          <form action="" method="post">
              <div class="input-group form-group mb-2">
                  <input type="text" name="email" class="form-control" placeholder="Ingrese usuario">
              </div>

              <div class="input-group form-group mb-2">
                  <input type="password" name="password" class="form-control" placeholder="Ingrese password">
              </div>

              <div class="input-group form-group mb-2">
                Captcha
              </div>


              <div class="form-group mb-2">
                  <input type="submit" name="btn" value="Ingresar" class="btn btn-outline-succes float-right login_btn">
              </div>

          </form>
      </div>
