<div class="container p-3 fontregular ">
  <h3  class="fontbold text-center fontbold">Test Productivo Exportador</h3>
  <div class="card mb-2" style="background-color: #DA291C; border: 1px solid #DA291C;" data-bs-toggle="collapse"
      href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
      <div class="card-body text-white fontbold">
          Aspectos Generales
      </div>
  </div>
  <div class="collapse" id="collapseExample1">
      <div class="card mb-2">
          <div class="card-body">
            Cuestionario aquí
          </div>
      </div>
  </div>

  <div class="card mb-2" style="background-color: #DA291C; border: 1px solid #DA291C;" data-bs-toggle="collapse"
      href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
      <div class="card-body text-white fontbold">
        Servicios de Desarrollo Productivo
      </div>
  </div>
  <div class="collapse" id="collapseExample2">
      <div class="card mb-2">
          <div class="card-body">
            Cuestionario aquí
          </div>
      </div>
  </div>

  <div class="card mb-2" style="background-color: #DA291C; border: 1px solid #DA291C;" data-bs-toggle="collapse"
  href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
  <div class="card-body text-white fontbold">
    Servicios de Desarrollo de Gestión Empresarial
  </div>
</div>
<div class="collapse" id="collapseExample3">
  <div class="card mb-2">
      <div class="card-body">
        Cuestionario aquí
      </div>
  </div>
</div>

<div class="card mb-2" style="background-color: #DA291C; border: 1px solid #DA291C;" data-bs-toggle="collapse"
href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
<div class="card-body text-white fontbold">
  Servicios de Comercio Exterior
</div>
</div>
<div class="collapse" id="collapseExample4">
<div class="card mb-2">
    <div class="card-body">
      Cuestionario aquí
    </div>
</div>
</div>

<div class="card mb-2" style="background-color: #DA291C; border: 1px solid #DA291C;" data-bs-toggle="collapse"
href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
<div class="card-body text-white fontbold">
  Anexo: Listado de servicios que la organización ha tomado en los últimos 3 años
</div>
</div>
<div class="collapse" id="collapseExample5">
<div class="card mb-2">
    <div class="card-body">
      Cuestionario aquí
    </div>
</div>
</div>

  <div class="card mb-2" style="background-color: rgb(28 160 70); border: 1px solid rgb(28 160 70);" data-bs-toggle="collapse"
      href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6">
      <div class="card-body text-white fontbold">
          Ver Resultados del TPE y Diagnóstico
      </div>
  </div>
  <div class="collapse" id="collapseExample6">
      <div class="card mb-2">
          <div class="card-body">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <i class="bi bi-plus-square" data-bs-toggle="collapse" href="#collapseExample21"
                          role="button" aria-expanded="false" aria-controls="collapseExample"></i> RESULTADO
                  </li>
                  <div class="collapse" id="collapseExample21">
                      <ul class="list-group list-group-flush" style="margin-left: 10px;">
                          <li class="list-group-item" style="border: 0px !important;">
                              <i class="bi bi-plus-square" data-bs-toggle="collapse" href="#collapseExample22"
                                  role="button" aria-expanded="false" aria-controls="collapseExample2"></i>
                              Aspecto General
                          </li>
                          <div class="collapse" id="collapseExample22" style="margin-left: 15px;">
                              <div class="card card-body">
                                  Some placeholder content for the collapse component. This panel is hidden by
                                  default but revealed when the user activates the relevant trigger.
                              </div>
                          </div>
                      </ul>
                  </div>
              </ul>
          </div>
      </div>
  </div>
  <div class="card mb-2" style="background-color: #5A53E0; border: 1px solid #5A53E0;" data-bs-toggle="collapse"
      href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample7">
      <div class="card-body text-white fontbold">
          Servicios Sugeridos
      </div>
  </div>
  <div class="collapse" id="collapseExample7">
      <div class="card mb-2">
          <div class="card-body">
            <div
      class="card mb-1"
      style="background-color: #da291c; border: 1px solid #da291c"
      data-bs-toggle="collapse"
      href="#collapseExample71"
      role="button"
      aria-expanded="true"
      aria-controls="collapseExample71"

    >
      <div class="card-body text-white">Desarrollo Productivo</div>
    </div>
    <div class="collapse" id="collapseExample71">
      <div class="card mb-1 p-2">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Capacitación y asistencia técnica para conocimiento y acceso a
            certificaciones internacionales
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked"> Otros </label>
        </div>
      </div>
    </div>

    <div
    class="card mb-1"
    style="background-color: #da291c; border: 1px solid #da291c"
    data-bs-toggle="collapse"
    href="#collapseExample72"
    role="button"
    aria-expanded="true"
    aria-controls="collapseExample72"
  >
    <div class="card-body text-white">Desarrollo de Gestión Empresarial</div>
  </div>
  <div class="collapse" id="collapseExample72">
    <div class="card mb-1 p-2">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Capacitación sobre sistema Perú Marketplace
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked"> Otros </label>
      </div>
    </div>
  </div>

  <div
    class="card mb-1"
    style="background-color: #da291c; border: 1px solid #da291c"
    data-bs-toggle="collapse"
    href="#collapseExample73"
    role="button"
    aria-expanded="true"
    aria-controls="collapseExample73"
  >
    <div class="card-body text-white">Comercio Exterior</div>
  </div>
  <div class="collapse" id="collapseExample73">
    <div class="card mb-1 p-2">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Programa coaching exportador
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked"> Otros </label>
      </div>
    </div>
  </div>

          </div>
      </div>
  </div>
<br>
  <div class="row mb-3">
    <div class="col-sm-6" style="text-align: center;">
     <button type="button" class="btn btn-danger boton_guardar">Guardar sin enviar</button>
     </div>
   <div class="col-sm-6" style="text-align: center;" >
     <button type="button" class="btn btn-success boton_verde" style="padding-right: 50px;
     padding-left: 50px;">Enviar test</button>
   </div>
   </div>
</div>
