<div class="container fontregular">
  <h3 class="fontbold">Lista de servicios</h3>
  <div class="card">
    <div class="card-body">
      <div class="row mb-1">
        <div class="col-sm-1" style="padding: 0px">
          <span for="staticEmail2">Nro. Convocatoria</span>
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" />
        </div>
        <div class="col-sm-2">
          <span for="staticEmail2">Tipo de servicio</span>
        </div>
        <div class="col-sm-2">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-sm-1">
          <span for="staticEmail2">Región</span>
        </div>
        <div class="col-sm-2">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-sm-1"></div>
      </div>

      <div class="row mb-1">
        <div class="col-sm-1" style="padding: 0px"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
          <span for="staticEmail2">Sector</span>
        </div>
        <div class="col-sm-2">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-sm-1">
          <span for="staticEmail2">Producto</span>
        </div>
        <div class="col-sm-2">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-sm-1">
          <button
            type="submit"
            class="btn btn-success mb-3 boton_verde"
            style="width: 150px; margin-bottom: 5px"
          >
            Buscar
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-success boton_verde"
        style="width: 150px; margin-bottom: 5px"
        (click)="openModal(modal_nuevo_servicio)"
      >
        Nuevo Registro
      </button>
    </div>
  </div>
  <div class="table-responsive tableshadow">
    <table class="table table-bordered marginbutton0">
      <tbody>
        <tr>
          <th scope="row" class="table_cabecera">Nro. Orden</th>
          <th scope="row" class="table_cabecera">Nombre servicio</th>
          <th scope="row" class="table_cabecera">Tipo servicio</th>
          <th scope="row" class="table_cabecera">Sector</th>
          <th scope="row" class="table_cabecera">Producto</th>
          <th scope="row" class="table_cabecera">Estado</th>
          <th scope="row" class="table_cabecera">Acciones</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Servicio 02</td>
          <td>Tipo servicio 02</td>
          <td>Agrario</td>
          <td>Producto 02</td>
          <td>Guardado</td>
          <td>
            <span style="margin-right: 5px">
              <button
                type="button"
                class="btn btn-outline-warning btn-sm"
                (click)="openModalDuplicar(modal_duplicar)"
              >
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </span>
            <span style="margin-right: 5px">
              <button
                type="button"
                class="btn btn-outline-warning btn-sm"
                (click)="openModalEnviar(modal_enviar)"
              >
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
            </span>
            <span style="margin-right: 5px">
              <button
                type="button"
                class="btn btn-outline-warning btn-sm"
                (click)="openModal(modal_nuevo_servicio)"
              >
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            </span>
            <span style="margin-right: 5px">
              <button
                type="button"
                class="btn btn-outline-warning btn-sm"
                (click)="openModal(modal_datos_del_servicio)"
              >
              <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </span>
            <span style="margin-right: 5px">
              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="openModalCancelarServicio(modal_cancelar_servicio)"
              >
              <i class="fa fa-ban" aria-hidden="true"></i>
                </button
            ></span>
            <span style="margin-right: 5px">
              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="openModalEliminar(modal_eliminar)"
              >
                <i class="fa fa-trash" aria-hidden="true"></i></button
            ></span>


          </td>
        </tr>


      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <div class="p-2">
      <div class="row">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"> Atrás</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Siguiente</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<ng-template #modal_nuevo_servicio class="fontregular">
  <div class="modal-header">
    <h4 class="modal-title pull-left">DATOS DE SERVICIO</h4>
    <button
      type="button"
      class="close btn-close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body fontregular">
    <form>
      <div class="row mb-1">
        <label class="col-sm-2 col-form-label">Entidad prestadora</label>
        <div class="col-sm-4">
          <select
            class="form-select"
            aria-label="Default select example"
            disabled
          >
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <label class="col-sm-2 col-form-label"
          >N° Convocatoria <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label"
          >Región <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <label class="col-sm-2 col-form-label"
          >Sector <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label"
          >Linea producto <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <label class="col-sm-2 col-form-label"
          >Producto <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label"
          >Nombre servicio <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <input type="text" class="form-control" />
        </div>
        <label class="col-sm-2 col-form-label"
          >Tipo servicio <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label"
          >Fecha Inicio/ Fin <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <span
                ><input type="text" class="form-control" style="width: 167px"
              /></span>
            </div>
            <div class="col-auto">
              <span
                ><input type="text" class="form-control" style="width: 167px"
              /></span>
            </div>
          </div>
        </div>
        <label class="col-sm-2 col-form-label"
          >Evaluación de deuda o sanción
          <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label"
          >Descripción servicio <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-10">
          <input type="text" class="form-control" />
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label"
          >Objetivo servicio * <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-10">
          <input type="text" class="form-control" />
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label">Nombre capacitador </label>
        <div class="col-sm-4">
          <input type="text" class="form-control" />
        </div>
        <label class="col-sm-2 col-form-label">Modalidad </label>
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label">N° de sesiones</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" />
        </div>
        <label class="col-sm-2 col-form-label">N° total de horas</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-6" style="text-align: center">
          <button type="button" class="btn btn-danger boton_guardar">
            Guardar
          </button>
        </div>
        <div class="col-sm-6" style="text-align: center">
          <button type="button" class="btn btn-danger boton_cancelar">
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #modal_datos_del_servicio class="fontregular">
  <div class="modal-header">
    <h4 class="modal-title pull-left">DATOS DE SERVICIO</h4>
    <button
      type="button"
      class="close btn-close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body fontregular">
    <form>
      <div class="row mb-1">
        <label class="col-sm-2 col-form-label">Entidad prestadora</label>
        <div class="col-sm-4">
          <select
            class="form-select"
            aria-label="Default select example"
            disabled
          >
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <label class="col-sm-2 col-form-label"
          >N° Convocatoria <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label"
          >Región <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <label class="col-sm-2 col-form-label"
          >Sector <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label"
          >Linea producto <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <label class="col-sm-2 col-form-label"
          >Producto <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label"
          >Nombre servicio <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <input type="text" class="form-control" />
        </div>
        <label class="col-sm-2 col-form-label"
          >Tipo servicio <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label"
          >Fecha Inicio/ Fin <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <span
                ><input type="text" class="form-control" style="width: 167px"
              /></span>
            </div>
            <div class="col-auto">
              <span
                ><input type="text" class="form-control" style="width: 167px"
              /></span>
            </div>
          </div>
        </div>
        <label class="col-sm-2 col-form-label"
          >Evaluación de deuda o sanción
          <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label"
          >Descripción servicio <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-10">
          <input type="text" class="form-control" />
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label"
          >Objetivo servicio * <span class="_obligatorio">*</span></label
        >
        <div class="col-sm-10">
          <input type="text" class="form-control" />
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label">Nombre capacitador </label>
        <div class="col-sm-4">
          <input type="text" class="form-control" />
        </div>
        <label class="col-sm-2 col-form-label">Modalidad </label>
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-2 col-form-label">N° de sesiones</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" />
        </div>
        <label class="col-sm-2 col-form-label">N° total de horas</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" />
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-4" style="text-align: center">
          <button type="button" class="btn btn-success boton_verde" (click)="openModalCancelarServicio(modal_cancelar_servicio)">
            Cancelar servicio
          </button>
        </div>
        <div class="col-sm-4" style="text-align: center">
          <button type="button" class="btn btn-primary boton_celeste">
           Organizaciones confirmadas
          </button>
        </div>
        <div class="col-sm-4" style="text-align: center">
          <button type="button" class="btn btn-secondary boton_secundario">
           Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #modal_duplicar>
  <div class="modal-body fontregular">
    <div style="text-align: center">
      <span class="material-symbols-outlined" style="font-size: 80px">
        done_outline
      </span>
      <h3><b>SERVICIO DUPLICADO</b></h3>
      <div>El servicio se ha duplicado correctamente</div>
      <br />
      <div class="row mb-3">
        <div class="col-sm-12" style="text-align: center">
          <button type="button" class="btn btn-success boton_verde">
            ACEPTAR
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modal_enviar>
  <div class="modal-body fontregular">
    <div style="text-align: center">
      <span class="material-symbols-outlined" style="font-size: 80px">
        done_outline
      </span>
      <h3><b>SERVICIO ENVIADO</b></h3>
      <div>El servicio se ha envíado correctamente</div>
      <br />
      <div class="row mb-3">
        <div class="col-sm-12" style="text-align: center">
          <button type="button" class="btn btn-success boton_verde">
            ACEPTAR
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modal_eliminar>
  <div class="modal-body fontregular">
    <div style="text-align: center">
      <span
        class="material-symbols-outlined"
        style="font-size: 80px; color: #f59a23"
      >
        warning
      </span>
      <h3><b>ALERTA DEL SISTEMA</b></h3>
      <br />
      <div class="row mb-3">
        <div class="col-sm-6" style="text-align: center">
          <button type="button" class="btn btn-danger boton_guardar">SI</button>
        </div>
        <div class="col-sm-6" style="text-align: center">
          <button type="button" class="btn btn-danger boton_cancelar">
            NO
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modal_cancelar_servicio >
  <div class="modal-header">
    <h5 class="modal-title pull-left fontbold">CANCELAR SERVICIO</h5>
    <button
      type="button"
      class="close btn-close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body fontregular">
    <div class="row">
      <div class="col-4">
        Motivo de cancelación
      </div>
      <div class="col-8">
        <textarea class="form-control"  id="floatingTextarea"></textarea>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6" style="text-align: center">
        <button type="button" class="btn btn-danger boton_guardar">
          Guardar
        </button>
      </div>
      <div class="col-sm-6" style="text-align: center">
        <button type="button" class="btn btn-danger boton_cancelar">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</ng-template>


