<div class="container fontregular">
  <br />
  <!-- <div class="row">
      <div class="col text-center">
          <img src="assets/imagenes/logo_pcm.jpeg" alt="..." style="width: 35%;">
      </div>
  </div> -->
  <br /><br /><br /><br />
  <div class="row">
      <h2 class="text-center fontbold">Bienvenido al Sistema RPE</h2>
      <p class="text-center">Para ingresar al sistema selecciona una de las dos opciones de autenticación.</p>
  </div>
  <div class="d-flex justify-content-center">
      <div class="p-2">
          <div class="row">
              <div class="text-center">
                  Soy Importador y/o Exportador
              </div>
          </div>
          <div class="row mt-2">
              <div class="col text-center">
                  <button type="button" class="btn btn-primary btn-personalizado fontbold">Ingresa con Clave Sol</button>
              </div>
          </div>
      </div>
      <div class="p-2">
          <div class="d-flex" style="height: 100px;">
              <div class="vr"></div>
          </div>
      </div>
      <div class="p-2">
          <div class="row">
              <div class="text-center">
                  Soy funcionario de una Entidad
              </div>
          </div>
          <div class="row mt-2">
              <div class="col text-center">
                  <button type="button" class="btn btn-primary btn-personalizado fontbold">Ingresa a la
                      Extranet</button>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-3 col-sm-2">
      </div>
      <div class="col-lg-6 col-sm-8 col-xs-12">
          <hr />
      </div>
      <div class="col-lg-3 col-sm-2">
      </div>
  </div>
  <div class="row">
      <div class="col-12 text-center">
          Portal de Bienvenida
      </div>
  </div>
  <nav class="navbar fixed-bottom mb-1" style="height: 50px; background-color: #bf0909;">

  </nav>
</div>
