<div class="container fontregular">
  <h3  class="fontbold">Lista de organizaciones RPE</h3>
  <div class="card">
    <div class="card-body">
      <form class="row g-3">
        <div class="col-auto">
          <span for="staticEmail2">Razón Social</span>
        </div>
        <div class="col-auto">
          <input type="email" class="form-control" >
        </div>
        <div class="col-auto">
          <span for="staticEmail2">RUC</span>
        </div>
        <div class="col-auto">
          <input type="email" class="form-control" >
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-success mb-3 boton_verde" style="width: 150px;  margin-bottom: 5px;">Buscar</button>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-success boton_verde" style="width: 150px;  margin-bottom: 5px;" (click)="openModal(modal_nuevo_org_rpe)">Nuevo Registro</button>
    </div>
   </div>
  <div class="table-responsive tableshadow">
    <table class="table table-bordered marginbutton0">
        <tbody>
            <tr>
                <th scope="row" class="table_cabecera">Nro. Orden</th>
                <th scope="row" class="table_cabecera">RUC</th>
                <th scope="row" class="table_cabecera">Razón Social</th>
                <th scope="row" class="table_cabecera">Nombres</th>
                <th scope="row" class="table_cabecera">Apellido paterno</th>
                <th scope="row" class="table_cabecera">Apellido materno</th>
                <th scope="row" class="table_cabecera">Fecha de creación</th>
                <th scope="row" class="table_cabecera">Estado</th>
                <th scope="row" class="table_cabecera">Acciones</th>
            </tr>

            <tr>
              <td>1</td>
              <td>10466789971</td>
              <td>pepito SAC</td>
              <td>Tito</td>
              <td>Salinas</td>
              <td>Meza</td>
              <td>08/11/2022 10:25:21</td>
              <td>Activo</td>
              <td>
                <span style="margin-right: 5px;"><button type="button" class="btn btn-outline-warning btn-sm" (click)="openModal(modal_nuevo_org_rpe)"><i class="fa fa-pencil" aria-hidden="true"></i></button> </span>
                <span> <button type="button" class="btn btn-outline-danger btn-sm" (click)="openModalEliminar(modal_eliminar)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button></span>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>10466789971</td>
              <td>pepito SAC</td>
              <td>Tito</td>
              <td>Salinas</td>
              <td>Meza</td>
              <td>08/11/2022 10:25:21</td>
              <td>Activo</td>
              <td>
                <span style="margin-right: 5px;"><button type="button" class="btn btn-outline-warning btn-sm" (click)="openModal(modal_nuevo_org_rpe)"><i class="fa fa-pencil" aria-hidden="true"></i></button> </span>
                <span> <button type="button" class="btn btn-outline-danger btn-sm" (click)="openModalEliminar(modal_eliminar)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button></span>
              </td>
            </tr>


        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
  <div class="p-2">
      <div class="row">
            <nav aria-label="Page navigation example" >
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"> Atrás</a> </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
              </ul>
            </nav>
      </div>
  </div>
</div>
</div>

<ng-template #modal_nuevo_org_rpe class="fontregular">
  <div class="modal-header">
    <h4 class="modal-title pull-left">DATOS DE CONTACTO</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body fontregular">
    <form>
      <div class="row mb-1">

      <label  class="col-sm-2 col-form-label">Nombres <span class="_obligatorio">*</span>:</label>
      <div class="col-sm-4">
      <input type="email" class="form-control">
      </div>
      <label class="col-sm-2 col-form-label">Apellido paterno <span class="_obligatorio">*</span>:</label>
        <div class="col-sm-4">
        <input type="email" class="form-control" >
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-sm-6"></div>
        <label  class="col-sm-2 col-form-label">Apellido Materno <span class="_obligatorio">*</span>:</label>
        <div class="col-sm-4">
        <input type="email" class="form-control">
        </div>
        </div>
        <div class="row mb-1">
          <label class="col-sm-2 col-form-label">Tipo de documento <span class="_obligatorio">*</span>:</label>
          <div class="col-sm-4">
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <label  class="col-sm-2 col-form-label">Número de documento <span class="_obligatorio">*</span>:</label>
          <div class="col-sm-4">
          <input type="email" class="form-control">
          </div>
          </div>
          <div class="row mb-1">
            <label class="col-sm-2 col-form-label">Correo electrónico:</label>
            <div class="col-sm-4">
            <input type="email" class="form-control" >
            </div>
            <label  class="col-sm-2 col-form-label">Teléfono fijo <span class="_obligatorio">*</span>:</label>
            <div class="col-sm-4">
            <input type="email" class="form-control">
            </div>
            </div>
            <div class="row mb-1">
              <label class="col-sm-2 col-form-label">Celular <span class="_obligatorio">*</span>:</label>
              <div class="col-sm-4">
              <input type="email" class="form-control" >
              </div>
              <label  class="col-sm-2 col-form-label">Cargo <span class="_obligatorio">*</span>:</label>
              <div class="col-sm-4">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              </div>
              <div class="row mb-1">
                <label class="col-sm-2 col-form-label">Área a la que pertenece <span class="_obligatorio">*</span>:</label>
                <div class="col-sm-4">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <label  class="col-sm-2 col-form-label">Facebook / Instagram de organización:</label>
                <div class="col-sm-4">
                <input type="email" class="form-control">
                </div>
                </div>
                <div class="row mb-1">
                  <label class="col-sm-2 col-form-label">Sitio web de organización</label>
                  <div class="col-sm-10">
                  <input type="email" class="form-control" >
                  </div>

                  </div>
                  <div class="row mb-1">
                    <div class="col-sm-12" style="text-align: center;">
                      <button type="button" class="btn btn-danger boton_guardar">Guardar</button>
                    </div>

                    </div>

      </form>
  </div>
</ng-template>



<ng-template #modal_eliminar >
  <div class="modal-body fontregular">
    <div style="text-align: center;"><span class="material-symbols-outlined"  style="font-size: 80px; color: #F59A23;">
      warning
      </span>
    <h3><b>ALERTA DEL SISTEMA</b></h3>
    <div style="color: red;">
      ¿Está seguro de eliminar la entidad prestadora?
    </div>
    <br>
    <div class="row mb-1">
      <div class="col-sm-6" style="text-align: center;">
       <button type="button" class="btn btn-danger boton_guardar">SI</button>
       </div>
     <div class="col-sm-6" style="text-align: center;">
       <button type="button" class="btn btn-danger boton_cancelar">NO</button>
     </div>
     </div>
    </div>
  </div>
</ng-template>

