<div class="container fontregular">
  <h3  class="fontbold">Evaluar postulaciones</h3>
  <div class="card">
    <div class="card-body">
      <div class="row mb-1">
        <div class="col-sm-1" style="padding: 0px;">
      <span for="staticEmail2">Convocatoria</span>
        </div>
        <div class="col-sm-2">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      <div class="col-sm-2">
      <span for="staticEmail2">Sector</span>
        </div>
      <div class="col-sm-2">
        <select class="form-select" aria-label="Default select example">
                <option selected>--Seleccionar--</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
      <div class="col-sm-1">
      <span for="staticEmail2">Linea producto</span>
        </div>
      <div class="col-sm-2">
      <select class="form-select" aria-label="Default select example">
                <option selected>--Seleccionar--</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
      <div class="col-sm-1">

        </div>
    </div>

      <div class="row mb-1">
        <div class="col-sm-1" style="padding: 0px;">
          <span for="staticEmail2">Producto</span>
        </div>
        <div class="col-sm-2">
          <select class="form-select" aria-label="Default select example">
            <option selected>--Seleccionar--</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      <div class="col-sm-2">
       <span for="staticEmail2">Región</span>
        </div>
      <div class="col-sm-2">
        <select class="form-select" aria-label="Default select example">
                <option selected>--Seleccionar--</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
      <div class="col-sm-1">
       <span for="staticEmail2">Estado</span>
        </div>
      <div class="col-sm-2">
      <select class="form-select" aria-label="Default select example">
                <option selected>--Seleccionar--</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
      <div class="col-sm-1">
      <button type="submit" class="btn btn-success mb-3 boton_verde" style="width: 150px;  margin-bottom: 5px;">Buscar</button>
        </div>
    </div>
    </div>
  </div>
  <br>
  <div class="table-responsive tableshadow">
    <table class="table table-bordered marginbutton0">
        <tbody>
            <tr>
                <th scope="row" class="table_cabecera">Nro. Orden</th>
                <th scope="row" class="table_cabecera">Ruc</th>
                <th scope="row" class="table_cabecera">Razón social</th>
                <th scope="row" class="table_cabecera">Sector</th>
                <th scope="row" class="table_cabecera">Linea producto</th>
                <th scope="row" class="table_cabecera">Producto</th>
                <th scope="row" class="table_cabecera">Estado</th>
                <th scope="row" class="table_cabecera">Acciones</th>
            </tr>
            <tr>
              <td>1</td>
              <td>2096573823</td>
              <td>Pepito SAC</td>
              <td>Sector 01</td>
              <td>Banano</td>
              <td>Producto 01</td>
              <td>Solicitado</td>
              <td>
                <span style="margin-right: 5px;">
                  <button type="button" class="btn btn-outline-success btn-sm" (click)="openModalFicha(modal_ficha_inscripcion)">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                </button>
                </span>
                <span>
                  <button type="button" class="btn btn-outline-success btn-sm" (click)="openModalEvaluar(modal_evaluar_postulacion)">
                    <i class="fa fa-lightbulb" aria-hidden="true"></i>
                  </button>
              </span>
              </td>
            </tr>


        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
  <div class="p-2">
      <div class="row">
            <nav aria-label="Page navigation example" >
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"> Atrás</a> </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
              </ul>
            </nav>
      </div>
  </div>
</div>
</div>

<ng-template #modal_ficha_inscripcion>
  <div class="modal-body fontregular" style=" padding: 0px !important;">
    <div class="card fontregular">
      <div class="card-body" style=" padding: 0px !important;">
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="background-color: #D7D7D7;">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">FICHA RUC</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">OTROS DATOS</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-req" data-bs-toggle="tab" data-bs-target="#profile-tab-req" type="button" role="tab" aria-controls="profile-tab-req" aria-selected="false">REQUISITOS</button>
          </li>
        </ul>
        <div class="container">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="card-body">
              <form>
                <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-1 mb-3 border-bottom">
                <h1 class="h5">DATOS DE LA EMPRESA</h1>
                </div>
                <div class="row mb-1">
                <label for="inputEmail3" class="col-sm-2 col-form-label">RUC</label>
                <div class="col-sm-4">
                <input type="text" class="form-control"  >
                </div>
                <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control"  >
                </div>
                </div>
                <div class="row mb-1">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Correo</label>
                  <div class="col-sm-4">
                  <input type="text" class="form-control"  >
                  </div>
                  <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-4">

                  </div>
                  </div>
                <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-1 mb-3 border-bottom">
                <h1 class="h5">DATOS DEL REPRESENTANTE LEGAL</h1>
                </div>
                <div class="row mb-1">
                <label for="inputEmail3" class="col-sm-2 col-form-label">DNI</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control"  >
                </div>
                <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control"  >
                </div>
                </div>
                <div class="row mb-1">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Apellido paterno</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control"  >
                  </div>
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Apellido materno</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control"  >
                  </div>
                  </div>
                <div class="row mb-1">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Genero</label>
                <div class="col-sm-4">
                <select class="form-select">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                </div>
                <label class="col-sm-2 col-form-label">Teléfono:</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control">
                </div>
                </div>
                <div class="row mb-1">
                <label class="col-sm-2 col-form-label">Región</label>
                <div class="col-sm-4">
                <input type="text" class="form-control">
                </div>
                <label class="col-sm-2 col-form-label">Provincia</label>
                <div class="col-sm-4">
                <input type="text" class="form-control">
                </div>
                </div>
                <div class="row mb-1">
                  <label class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-4">

                  </div>
                  <label class="col-sm-2 col-form-label">Distrito</label>
                  <div class="col-sm-4">
                  <input type="text" class="form-control">
                  </div>
                  </div>
                  <div class="row mb-1">
                    <label class="col-sm-2 col-form-label">Dirección</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control">
                    </div>
                    </div>

                </form>
            </div>
          </div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="card-body">
              <form>
                <div class="row mb-1">
                <label class="col-sm-2 col-form-label">Sector <span class="_obligatorio">*</span></label>
                <div class="col-sm-4">
                  <select class="form-select" >
                    <option selected>--Seleccione--</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <label  class="col-sm-2 col-form-label">¿Su empresa ha exportado antes? <span class="_obligatorio">*</span></label>
                <div class="col-sm-4">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
                    <label class="form-check-label" for="inlineCheckbox1">Si</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">No</label>
                  </div>
                </div>
                </div>
                <div class="row mb-1">
                  <label class="col-sm-2 col-form-label">Linea producto <span class="_obligatorio">*</span></label>
                  <div class="col-sm-4">
                    <select class="form-select" >
                      <option selected>--Seleccione--</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <label  class="col-sm-2 col-form-label">Tipo empresa <span class="_obligatorio">*</span></label>
                  <div class="col-sm-4">
                    <select class="form-select" >
                      <option selected>--Seleccione--</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  </div>
                  <div class="row mb-1">
                    <label class="col-sm-2 col-form-label">Producto <span class="_obligatorio">*</span></label>
                    <div class="col-sm-4">
                      <select class="form-select" >
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <label class="col-sm-2 col-form-label">Nivel de ventas</label>
                    <div class="col-sm-4">
                      <select class="form-select" >
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>


                    </div>
                    <div class="row mb-1">
                      <label  class="col-sm-2 col-form-label">Fecha inicio de actividad empresarial<span class="_obligatorio">*</span></label>
                      <div class="col-sm-4">
                      <input type="email" class="form-control">
                      </div>
                      <label  class="col-sm-2 col-form-label">DAM de exportación</label>
                      <div class="col-sm-4">
                        <button class="btn btn-sm btn-secondary col-xs-12 align-left w-100"> Documento Declaración Anual <i class="fa fa-file-text pull-right" aria-hidden="true"></i> </button>
                      </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-sm-4 text-center ">
                          <button type="button" class="btn btn-danger boton_rojo mb-1">Guardar sin enviar</button>
                        </div>
                        <div class="col-sm-4 text-center">
                          <button type="button" class="btn btn-primary boton_celeste mb-1">Enviar inscripción</button>
                        </div>
                        <div class="col-sm-4 text-center">
                          <button type="button" class="btn btn-secondary boton_secundario mb-1">Cancelar</button>
                        </div>
                      </div>
                </form>
            </div>

          </div>
          <div class="tab-pane fade" id="profile-tab-req" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="card-body">
              <div class="row mb-1">
                <div class="col-sm-1">
                  <span><i class="fa fa-tags" aria-hidden="true"></i></span>
                </div>
                <div class="col-sm-11 paddingright0">
                   Ser persona natural con negocio o jurídica con RUC activo.
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-sm-1">
                  <span><i class="fa fa-tags" aria-hidden="true"></i></span>
                </div>
                <div class="col-sm-11 paddingright0">
                  No tener deudas o penalidades con las entidades públicas proveedoras de servicios que forman parte del proyecto.
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-sm-1">
                  <span><i class="fa fa-tags" aria-hidden="true"></i></span>
                </div>
                <div class="col-sm-11 paddingright0">
                  Ser una empresa exportadora o contar con oferta exportable.
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-sm-1">
                  <span><i class="fa fa-tags" aria-hidden="true"></i></span>
                </div>
                <div class="col-sm-11 paddingright0">
                  Actividad empresarial mínima de 01 año.
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-sm-1">
                  <span><i class="fa fa-tags" aria-hidden="true"></i></span>
                </div>
                <div class="col-sm-11 paddingright0">
                  Pertenecer a alguna de las regiones y de las cadenas productivas priorizadas por la RPE: San Martín (cacao y café) y Junín (cacao y café).
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-sm-12 text-center">
                  <button class="btn btn-secondary boton_secundario">
                    Descargar ficha de inscripción
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

      </div>
    </div>

</ng-template>

<ng-template #modal_evaluar_postulacion>
  <div class="modal-header">
    <h4 class="modal-title pull-left">EVALUAR POSTULACIÓN</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body fontregular">
    <form>
      <div class="row mb-1">
      <label class="col-sm-4 col-form-label">Estado</label>
      <div class="col-sm-8">
        <select class="form-select" aria-label="Default select example">
          <option selected>--Seleccionar--</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      </div>
      <div class="row mb-1">
        <label for="inputEmail3" class="col-sm-4 col-form-label">Observaciones</label>
        <div class="col-sm-8">
          <div class="form-floating">
            <textarea class="form-control"   style="height: 100px"></textarea>
            <!-- <label for="floatingTextarea2">Comments</label> -->
          </div>
        </div>
        </div>
<br>


                          <div class="row mb-1">
                             <div class="col-sm-4" style="text-align: center;">
                              <button type="button" class="btn btn-danger boton_guardar">Guardar</button>
                              </div>
                              <div class="col-sm-4" style="text-align: center;">
                                <button type="button" class="btn btn-success">Enviar notificación </button>
                                </div>
                            <div class="col-sm-4" style="text-align: center;">
                              <button type="button" class="btn btn-secundary boton_secundario">Cancelar</button>
                            </div>
                            </div>


      </form>
  </div>
</ng-template>


