.btn-custom {
  background-color: #0099FF;
  border: 0px;
  border-radius: 0 !important;
  font-weight: bold;
}

.fontregular{
  font-family: 'Roboto', sans-serif;
}
.fontbold{
  font-weight: bold;
}

.font500{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.size16{
  font-size: 16px;
}

._obligatorio{
  color: #DA291C;
}
.boton_guardar{
  background-color: #DA291C;
  padding-right: 30px;
  padding-left: 30px;
}

.boton_rojo{
  background-color:  #DA291C;
  border: 1px #DA291C;
  padding-right: 30px;
  padding-left: 30px;
}
.boton_celeste{
  background-color:  #02A7F0;
  border: 1px #02A7F0;
  padding-right: 30px;
  padding-left: 30px;
}
.boton_verde{
  background-color:  #66CC83;
  border: 1px #66CC83;
}

.boton_secundario{
  background-color:  #7F7F7F;
  border: 1px #7F7F7F;
  padding-right: 30px;
  padding-left: 30px;
}

.boton_cancelar{
  background-color:  #7F7F7F;
  border: 1px #7F7F7F;
  padding-right: 30px;
  padding-left: 30px;
}

.text-white{
  color: white;
}

.boton_cancelar:hover{
  background-color:  #696868;
  border: 1px #696868;
  padding-right: 30px;
  padding-left: 30px;
}

.text-#DA291C{
  color: #DA291C;
}
.boton_rojo{
  background-color: #DA291C;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
}

.tableshadow{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
}

.marginbutton0{
  margin-bottom: 0px;
}
.paddingright0{
padding-right: 0px;
}
